[submodule "wp-content/plugins/threesixty_docs/threesixtygiving.github.io"]
	path = wp-content/plugins/threesixty_docs/threesixtygiving.github.io
	url = https://github.com/ThreeSixtyGiving/threesixtygiving.github.io.git
[submodule "wp-content/plugins/threesixty_docs/parsedown"]
	path = wp-content/plugins/threesixty_docs/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "wp-content/themes/responsive-child/js/toc"]
	path = wp-content/themes/responsive-child/js/toc
	url = https://github.com/jgallen23/toc.git
